body {
    text-align: center;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
}

#intro {
    background-color: lightblue;
    font-size: 2em;
}

#multi-select-box {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#intro-box {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#find-button-box {
    padding-top: 15px;
}

#recommendations {
    padding: 15px;
    font-size: 1.5em;
}

#ryan {
    width: 5%;
    height: 12%;
}
 #ruby {
    width: 8%;
    height: 12%;
 }

 #aditya {
    width: 8%;
    height: 12%;
 }

 #jonathan{
    width: 8%;
    height: 12%;
 }